@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: #dcdcdc;
}

.header-control{
    font-family: 'Bebas Neue';
    text-align: center;
    color: rgb(255, 117, 20);
    font-size: 19px;
    
}

.main-auth{
    display: flex;
    align-items: center;
    justify-content: center;
}


.auth-container{
    display: flex;
    /* box-shadow: 2px 2px 20px gray; */
    /* border: 1px solid white; */
    margin-top: 0rem;
}

.auth-info{
    background: rgb(255, 117, 20);
    width: 500px;
    border-radius: 0px 20px 20px 0px;
}

.auth-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #efefef;
    padding: 40px;
    height: 550px;
    width: 500px;
    border: 2px solid rgb(255, 117, 20);
    border-radius: 20px 0px 0px 20px;
}

.auth-container form button{
    background: rgb(255, 117, 20);
    color: white;
    border: none;
    font-weight: bolder;
    font-family: 'Roboto';
    font-size: 16px;
    width: 200px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
}

.auth-container form img{
    width: 90px;
}

.auth-title{
    text-align: center;
    font-family: 'Roboto';
}

.auth-title h1{
    font-weight: bolder;
    color: rgb(255, 117, 20);
}

.auth-title p{
    font-size: 14px;
    font-weight: bolder;
    color: black;
}

.auth-input{
    display: flex;
    flex-direction: column;
}

.auth-input input{
    background: #bebebe;
    border: none;
    font-weight: bolder;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    color:black;
}

.auth-input input::placeholder{
    color: black;
}

.auth-input span{
    text-align: left;
    color: red;
    font-weight: bolder;
}

@media only screen and (max-width: 900px) {
    .main-auth{
        margin-top: 5rem;
    }

    .auth-info{
        display:none;
    }

    .auth-container{
        width: 300px;
        justify-content: center;
    }
    .auth-container form{
        border-radius: 20px 20px 20px 20px;
    }
}