@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 16px; /* Tamaño base */
}

.header-mobile {
    background: rgb(255, 117, 20);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.header-mobile img {
    height: 20px;
    width: 20px;
}

.header-mobile {
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 30px;
}

/* Estilos básicos para la barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 117, 20, 0.95); /* Fondo con color semitransparente */
    z-index: 1000; /* Asegura que el sidebar esté por encima de otros elementos */
    overflow-x: hidden;
    transition: width 0.5s; 
}

.sidebar img {
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #f1f1f1;
}

/* Estilos para mostrar la barra lateral */
.sidebar.open {
    width: 100%;
    height: 100%;
}

/* Estilos para el header en dispositivos de escritorio */
.header-desktop {
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 117, 20);
    height: 80px;
    padding: 0px 16px 0px 16px;   
}

.header-bar span {
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 40px;
}

.header-bar a {
    background: white;
    color: rgb(255, 117, 20);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 10px;
}

.header-nav {
    background: black;
    padding-left: 30px;
}

.header-nav a {
    display: inline-block;
    font-family: "Montserrat";
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 40px;
    padding: 15px 15px;
}

.header-nav a:hover {
    box-shadow: inset 0 -2px 0 0 white;
}

/* Ocultar el header en pantallas de escritorio */
@media only screen and (max-width: 900px) {
    .header-desktop {
        display: none;
    }
}
