body{
    margin: 0;
    padding:0;
    background: #efefef;
}

.pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.pedidos_titulo h1{
    font-family:sans-serif;
    color: #18293d;
}

.pedidos_items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pedido_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    padding: 10px 50px;
    border-radius: 20px;
    border:1px solid green;
}

.pedido_item img{
    width: 100px;
    background: white;
    border-radius: 300px;
    margin-bottom: 1rem;
}

.pedido_ver{
    background: rgb(255, 117, 20);
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    margin-top: 1rem;
}

.pendiente{
    color: rgb(255, 117, 20);
}

.verificado{
    color: rgb(20, 255, 71);
}

.rechazado{
    color: rgb(255, 0, 0);
}