<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="header-desktop">
            <div class="header-bar">
                <span class="header-title">
                    Maak Store
                </span>
                <a href="">Iniciar Sesion</a>
            </div>
            <nav class="header-nav">
                <a href="index.html">INICIO</a>
                <a href="index.html">CATALOGO</a>
                <a href="index.html">CARRITO</a>
                <a href="index.html">NOSOTROS</a>
                <a href="index.html">N</a>
            </nav>
        </div>
        <div class="header-mobile">
            <img src="src/lista(1).png" alt="" srcset="" onclick="menuShow();">
            <span class="header-title">
                Maak Store
            </span>
            <img src="src/carrito-de-compras.png" alt="" srcset="">
        </div>
        <div class="sidebar" id="sidebar">
            <!-- Contenido del menú lateral -->         
            <ul>
                <img src="src/x.png" alt="" onclick="menuShow();">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
                <!-- Agrega más enlaces según sea necesario -->
            </ul>
        </div>      
    </header>
    <main>
        
        
    </main>
</body>
</html>